################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LibraryManagementSystem.Tests/bin/Debug/net9.0
/LibraryManagementSystem.Tests/obj
